<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile user</title>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <link href="/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
<div th:replace="_header :: content"></div>
<form class="login-form" th:action="@{/user/profile/update}" th:object="${userUpdate}" th:method="post"
      id="registrationForm" enctype="multipart/form-data">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right" >
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img th:if="${userUpdate.filename==null}" class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">

                    <img th:if="${userUpdate.filename!=null}" class="rounded-circle mt-5" width="150px" th:src="${'/img/'+userUpdate.filename}" th:alt="${'Photo -'+userUpdate.firstname}"><span
                        class="font-weight-bold" th:text="${userUpdate.firstname}"></span>

                    <span class="text-black-50" th:text="${userUpdate.email}"></span>
                    <input type="file" class="form-control" name="file" th:text="'Сменить аватарку'">
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Профиль</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels" for="first_name">Ваше имя*</label>
                            <span th:text="${firstnameError}"></span>
                            <input type="text" class="form-control" th:field="*{firstname}" placeholder="Имя"
                                   th:classappend="${firstnameError} ? is-invalid : ''"></div>
                        <div class="col-md-6">
                            <label class="labels" for="last_name">Фамилия *</label>
                            <span th:text="${lastnameError}"></span>
                            <input type="text" class="form-control" th:field="*{lastname}" placeholder="Фамилия"
                                   th:classappend="${lastnameError} ? is-invalid : ''"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels" for="email">Email</label>
                            <span th:text="${emailError}"></span>
                            <input type="email" class="form-control" th:field="*{email}" placeholder="Email"
                                   th:classappend="${emailError} ? is-invalid : ''"></div>

                        <div class="col-md-12">
                            <label class="labels">Родной язык</label>
                            <select name="nativeLang" class="form-select form-select-sm"
                                    aria-label=".form-select-sm example">
                                <option th:if="${userUpdate.nativeLang==null}" disabled selected>Выберите язык</option>
                                <th:block th:if="${userUpdate.nativeLang==null}">
                                    <option th:each="lang:${languages}" th:value="${lang.key}"
                                            th:text="${lang.value}"></option>
                                </th:block>
                                <th:block th:if="${userUpdate.nativeLang!=null}">
                                    <option th:each="lang:${languages}"
                                            th:selected="${userUpdate.nativeLang.name().equals(lang.key)}"
                                            th:value="${lang.key}" th:text="${lang.value}"></option>
                                </th:block>
                            </select>
                        </div>
                        <br> <br> <br>
                        <hr>
                        <div class="col-md-12"><label class="labels">Пароль</label><span
                                th:text="${passwordError}"></span>
                            <input type="password" class="form-control" th:field="*{password}"
                                   placeholder="password" th:classappend="${passwordError} ? is-invalid : ''"></div>
                        <div class="col-md-12"><label class="labels">Подтвердить пароль</label><span
                                th:text="${password2Error}"></span>
                            <input type="password" class="form-control" th:field="*{password2}"
                                   placeholder="password" th:classappend="${password2Error} ? is-invalid : ''"></div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Сохранить</button>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <br>
                    <br>
                    <div class="col-md-12"><label class="labels">Обо мне</label>
                        <span th:text="${descriptionError}"></span>
                        <textarea type="text" class="form-control" th:field="*{description}"
                                  placeholder="описание"
                                  th:classappend="${descriptionError} ? is-invalid : ''"></textarea></div>

                    <br>
                    <div class="col-md-12"><label class="labels">Краткая биография (до 255 символов)</label><span th:text="${shortDescriptionError}"></span>
                        <textarea type="text" class="form-control" th:field="*{shortDescription}"
                                  placeholder="краткое описание"
                                  th:classappend="${shortDescriptionError} ? is-invalid : ''"></textarea></div>
                </div>
            </div>

        </div>
    </div>
</form>
<script>
    ClassicEditor.create(document.querySelector('#description'))
        .catch(error => {
            console.error(error);
        })
    ;
    ClassicEditor.create(document.querySelector('#shortDescription'))
        .catch(error => {
            console.error(error);
        })
    ;
</script>
<div th:replace="/include/_footer :: footer"></div>
</body>
</html>