<div th:fragment="sidebar_teach_course">
    <a th:href="@{/teach/courses/{courseId}/info(courseId=${course.courseId})}"
       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-5" th:text="${course.nameCourse}"></span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#home-collapse"
               aria-expanded="true" aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                     class="bi bi-book" viewBox="0 0 24 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
                Курс
            </a>
            <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav small">
                    <li><a th:href="@{/teach/courses/{courseId}/info(courseId=${course.courseId})}"
                           class="link-dark rounded">Описание</a></li>
                    <li><a th:href="@{/teach/courses/{courseId}/syllabus(courseId=${course.courseId})}"
                           class="link-dark rounded">Содержание</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#user-collapse"
               aria-expanded="true" aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                     class="bi bi-chat-right" viewBox="0 0 24 16">
                    <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                </svg>
                Общение с учащимися
            </a>
            <div class="collapse" id="user-collapse">
                <ul class="btn-toggle-nav small">
<!--                    <li><a href="#" class="link-dark rounded">Новости</a></li>-->
                    <li><a th:href="@{/teach/courses/{courseId}/comments(courseId=${course.courseId})}"
                           class="link-dark rounded">Комментарии</a></li>
<!--                    <li><a th:href="@{/teach/courses/{courseId}/reviews(courseId=${course.courseId})}"-->
<!--                           class="link-dark rounded">Отзывы</a></li>-->
<!--                </ul>-->
            </div>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#setting-collapse"
               aria-expanded="true" aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                     class="bi bi-sliders2" viewBox="0 0 24 16">
                    <path fill-rule="evenodd"
                          d="M10.5 1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4H1.5a.5.5 0 0 1 0-1H10V1.5a.5.5 0 0 1 .5-.5ZM12 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm-6.5 2A.5.5 0 0 1 6 6v1.5h8.5a.5.5 0 0 1 0 1H6V10a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5ZM1 8a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 1 8Zm9.5 2a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V13H1.5a.5.5 0 0 1 0-1H10v-1.5a.5.5 0 0 1 .5-.5Zm1.5 2.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z"/>
                </svg>
                Настройки
            </a>
            <div class="collapse" id="setting-collapse">
<!--                <ul class="btn-toggle-nav small">-->
<!--                    <li><a th:href="@{/teach/courses/{courseId}/settings(courseId=${course.courseId})}"-->
<!--                           class="link-dark rounded">Публикация</a></li>-->
<!--                </ul>-->
            </div>
        </li>
        <hr>
        <div class="dropdown">
            <a th:if="${session.user.filename==null}" class="d-block link-dark text-decoration-none dropdown-toggle"
               href="#" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img width="50px"
                     src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <th:block th:if="${session.user.firstname!=null}">
                    <strong th:text="${session.user.firstname+' '}"></strong></th:block>
            </a>
            <a th:if="${session.user.filename!=null}" class="d-block link-dark text-decoration-none dropdown-toggle"
               href="#" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="rounded-circle" width="40px" th:src="${'/img/'+session.user.filename}"
                     th:alt="${session.user.firstname}">
                <th:block th:if="${session.user.firstname!=null}">
                    <strong th:text="${session.user.firstname+' '}"></strong></th:block>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">Настройки</a></li>
                <li><a class="dropdown-item" th:href="@{/user/profile(userId=${session.user.userId})}">Профиль</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/user/logout">Выйти</a></li>
            </ul>
        </div>
    </ul>
    <!--            Sidebar-->
</div>

<div th:fragment="sidebar_learn_course">
    <!--            Sidebar-->
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a th:href="@{/learn}" class="nav-link" aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                     class="bi bi-book" viewBox="0 0 24 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
                Моё обучение
            </a>
        </li>

        <!--                Collapse item-->

        <li class="nav-item">
            <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#home-collapse"
               aria-expanded="true" aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                     class="bi bi-book" viewBox="0 0 24 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
                Курсы
            </a>
            <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav small">
                    <li><a th:href="@{/learn/courses/info}"
                           class="link-dark rounded">Прохожу</a></li>
                    <li><a th:href="@{/learn/courses/favorites}"
                           class="link-dark rounded">Избранное</a></li>
                    <li><a th:href="@{/learn/courses/wishlist}"
                           class="link-dark rounded">Хочу пройти</a></li>
                    <li><a th:href="@{/learn/courses/archive}"
                           class="link-dark rounded">Архив</a></li>
                </ul>
            </div>
        </li>

        <!--                Collapse item-->

        <li class="nav-item">
            <a th:href="@{/social}" class="nav-link" aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                     class="bi bi-book" viewBox="0 0 24 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
                Сообщество
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/social/notifications}" class="nav-link" aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                     class="bi bi-book" viewBox="0 0 24 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
                Уведомления
            </a>
        </li>

        <hr>
        <div class="dropdown">
            <a th:if="${session.user.filename==null}" class="d-block link-dark text-decoration-none dropdown-toggle"
               href="#" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img width="50px"
                     src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <th:block th:if="${session.user.firstname!=null}">
                    <strong th:text="${session.user.firstname+' '}"></strong></th:block>
            </a>
            <a th:if="${session.user.filename!=null}" class="d-block link-dark text-decoration-none dropdown-toggle"
               href="#" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="rounded-circle" width="40px" th:src="${'/img/'+session.user.filename}"
                     th:alt="${session.user.firstname}">
                <th:block th:if="${session.user.firstname!=null}">
                    <strong th:text="${session.user.firstname+' '}"></strong></th:block>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">Настройки</a></li>
                <li><a class="dropdown-item" th:href="@{/user/profile(userId=${session.user.userId})}">Профиль</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/user/logout">Выйти</a></li>
            </ul>
        </div>
    </ul>
    <!--            Sidebar-->
</div>

<div th:fragment="sidebar_learn_course_single">
    <!--            Sidebar-->
    <a th:href="@{/learn/course/{courseId}/info(courseId=${course.courseId})}"
       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4" th:text="${course.nameCourse}"></span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a th:href="@{/learn/course/{courseId}/info(courseId=${course.courseId})}" class="nav-link"
               aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                     class="bi bi-book" viewBox="0 0 24 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
                Описание
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/learn/course/{courseId}/enroll(courseId=${course.courseId})}" class="nav-link"
               aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 24 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                </svg>
                Содержание
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/learn/course/{courseId}/news(courseId=${course.courseId})}" class="nav-link"
               aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                     class="bi bi-book" viewBox="0 0 24 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
                Новости
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/learn/course/{courseId}/comments(courseId=${course.courseId})}" class="nav-link"
               aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" class="bi bi-chat" viewBox="0 0 24 16">
                    <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
                </svg>
                Комментарии
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/learn/course/{courseId}/reviews(courseId=${course.courseId})}" class="nav-link"
               aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" class="bi bi-heart-pulse" viewBox="0 0 24 16">
                    <path fill-rule="evenodd" d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01L8 2.748ZM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5Zm8.252-6.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162l-1.874-4.686Z"/>
                </svg>
                Отзывы
            </a>
        </li>
        <hr>
        <div class="dropdown">
            <a th:if="${session.user.filename==null}" class="d-block link-dark text-decoration-none dropdown-toggle"
               href="#" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img width="50px"
                     src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <th:block th:if="${session.user.firstname!=null}">
                    <strong th:text="${session.user.firstname+' '}"></strong></th:block>
            </a>
            <a th:if="${session.user.filename!=null}" class="d-block link-dark text-decoration-none dropdown-toggle"
               href="#" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="rounded-circle" width="40px" th:src="${'/img/'+session.user.filename}"
                     th:alt="${session.user.firstname}">
                <th:block th:if="${session.user.firstname!=null}">
                    <strong th:text="${session.user.firstname+' '}"></strong></th:block>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">Настройки</a></li>
                <li><a class="dropdown-item" th:href="@{/user/profile(userId=${session.user.userId})}">Профиль</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/user/logout">Выйти</a></li>
            </ul>
        </div>
    </ul>
</div>

