<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/sidebars.css" th:href="@{/css/sidebars.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <!--            Sidebar-->
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a th:href="@{/learn}" class="nav-link" aria-current="page">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                             class="bi bi-book" viewBox="0 0 24 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg>
                        Моё обучение
                    </a>
                </li>

                <!--                Collapse item-->

                <li class="nav-item">
                    <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#home-collapse"
                       aria-expanded="true" aria-current="page">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                             class="bi bi-book" viewBox="0 0 24 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg>
                        Курсы
                    </a>
                    <div class="collapse show" id="home-collapse">
                        <ul class="btn-toggle-nav small">
                            <li><a th:href="@{/learn/courses/info}"
                                   class="link-dark rounded">Прохожу</a></li>
                            <li><a th:href="@{/learn/courses/favorites}"
                                   class="link-dark rounded">Избранное</a></li>
                            <li><a th:href="@{/learn/courses/wishlist}"
                                   class="link-dark rounded">Хочу пройти</a></li>
                            <li><a th:href="@{/learn/courses/archive}"
                                   class="link-dark rounded">Архив</a></li>
                        </ul>
                    </div>
                </li>

                <!--                Collapse item-->

                <li class="nav-item">
                    <a th:href="@{/learn}" class="nav-link" aria-current="page">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                             class="bi bi-book" viewBox="0 0 24 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg>
                        Классы
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/learn}" class="nav-link" aria-current="page">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                             class="bi bi-book" viewBox="0 0 24 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg>
                        Уведомления
                    </a>
                </li>

                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                       id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="rounded-circle me-2 bi bi-person"></i>
                        <th:block th:if="${session.user.firstname!=null}">
                            <strong th:text="${session.user.firstname+' '}"></strong></th:block>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="#">Настройки</a></li>
                        <li><a class="dropdown-item" href="/user/profile">Профиль</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/user/logout">Выйти</a></li>
                    </ul>
                </div>
            </ul>
        </div>
        <!--            Sidebar-->


        <div class="col-sm-9 p-3">

            <blockquote class="blockquote">
                <p>Архив</p>
            </blockquote>
            <div class="row p-2">
                <!--                <form class="row text-center"-->
                <!--                      th:action="@{/teach/courses/filter{teacherId}(teacherId=${teacher.userId})}" th:method="get">-->
                <!--                    <div class="col-auto">-->
                <!--                        <select th:name="status" class="form-select form-select-sm"-->
                <!--                                aria-label=".form-select-sm example">-->
                <!--                            <option th:name="status" value="ALL">Все курсы</option>-->
                <!--                            <option value="DRAFT">Черновик</option>-->
                <!--                            <option value="PRIVATE">Приватный</option>-->
                <!--                            <option value="INACTIVE">Неактивный</option>-->
                <!--                            <option value="OPEN">Открытый</option>-->
                <!--                        </select>-->
                <!--                    </div>-->
                <!--                    <div class="col-auto">-->
                <!--                        <button type="submit" class="btn btn-primary btn-sm mb-3">Применить</button>-->
                <!--                    </div>-->
                <!--                </form>-->
            </div>

            <!--                Список курсов-->
            <!--            <div class="row p-2" th:if="${courseList!=null}">-->
            <!--                <div class="row g-1" th:each="courses:${courseList}">-->
            <!--                    <div class="card">-->
            <!--                        <div class="card-body">-->
            <!--                            <a th:href="@{/teach/courses/{courseId}/syllabus(courseId=${courses.courseId})}"><h5-->
            <!--                                    class="card-title"-->
            <!--                                    th:text="${courses.nameCourse}"></h5>-->
            <!--                            </a>-->
            <!--                            <p class="card-text" th:utext="${#strings.abbreviate(courses.description,500)}"></p>-->
            <!--                            <a th:href="@{/learn/courses/{courseId}/info(courseId=${courses.courseId})}"-->
            <!--                               class="card-link">Описание</a>-->
            <!--                            <a th:href="@{/learn/courses/{courseId}/syllabus(courseId=${courses.courseId})}"-->
            <!--                               class="card-link">Содержание</a>-->
            <!--                            <a th:href="@{/learn/courses/{courseId}/leave(courseId=${courses.courseId})}"-->
            <!--                               class="card-link">Покинуть</a>-->
            <!--                        </div>-->
            <!--                        <p class="card-footer text-muted"-->
            <!--                           th:text="${{courses.dateCreating}}">-->
            <!--                        </p>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--                Список курсов-->
        </div>
    </div>
</div>
</div>
</body>
</html>