<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/sidebars.css" th:href="@{/css/sidebars.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <div th:replace="/include/sidebar :: sidebar_learn_course"></div>
        </div>
        <!--            Sidebar-->


        <div class="col-sm-9 p-3">

            <blockquote class="blockquote">
                <p>Классы</p>
            </blockquote>
            <div class="row p-2">
                <!--                <form class="row text-center"-->
                <!--                      th:action="@{/teach/courses/filter{teacherId}(teacherId=${teacher.userId})}" th:method="get">-->
                <!--                    <div class="col-auto">-->
                <!--                        <select th:name="status" class="form-select form-select-sm"-->
                <!--                                aria-label=".form-select-sm example">-->
                <!--                            <option th:name="status" value="ALL">Все курсы</option>-->
                <!--                            <option value="DRAFT">Черновик</option>-->
                <!--                            <option value="PRIVATE">Приватный</option>-->
                <!--                            <option value="INACTIVE">Неактивный</option>-->
                <!--                            <option value="OPEN">Открытый</option>-->
                <!--                        </select>-->
                <!--                    </div>-->
                <!--                    <div class="col-auto">-->
                <!--                        <button type="submit" class="btn btn-primary btn-sm mb-3">Применить</button>-->
                <!--                    </div>-->
                <!--                </form>-->
            </div>

            <!--                Список курсов-->
            <!--            <div class="row p-2" th:if="${courseList!=null}">-->
            <!--                <div class="row g-1" th:each="courses:${courseList}">-->
            <!--                    <div class="card">-->
            <!--                        <div class="card-body">-->
            <!--                            <a th:href="@{/teach/courses/{courseId}/syllabus(courseId=${courses.courseId})}"><h5-->
            <!--                                    class="card-title"-->
            <!--                                    th:text="${courses.nameCourse}"></h5>-->
            <!--                            </a>-->
            <!--                            <p class="card-text" th:utext="${#strings.abbreviate(courses.description,500)}"></p>-->
            <!--                            <a th:href="@{/learn/courses/{courseId}/info(courseId=${courses.courseId})}"-->
            <!--                               class="card-link">Описание</a>-->
            <!--                            <a th:href="@{/learn/courses/{courseId}/syllabus(courseId=${courses.courseId})}"-->
            <!--                               class="card-link">Содержание</a>-->
            <!--                            <a th:href="@{/learn/courses/{courseId}/leave(courseId=${courses.courseId})}"-->
            <!--                               class="card-link">Покинуть</a>-->
            <!--                        </div>-->
            <!--                        <p class="card-footer text-muted"-->
            <!--                           th:text="${{courses.dateCreating}}">-->
            <!--                        </p>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--                Список курсов-->
        </div>
    </div>
</div>
</div>
</body>
</html>