.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.logo-header {
    font-family: "Script MT";
    font-size: 39px;
    text-align: center;
    color: #888888;
    margin-bottom: 9px;
}

.logo-header .logo-font {
    color: #3BC3FF;
}

.btn.btn-primary {
    background: #3BC3FF;
    border-color: #31c0ff;
}

.form-control-dark {
    color: #fff;
}

.form-control-dark:focus {
    color: #fff;
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}