<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Комментарии курса</title>
    <link href="/static/css/sidebars.css" th:href="@{/css/sidebars.css}" rel="stylesheet"/>
    <link href="/static/css/comments.css" th:href="@{/css/comments.css}" rel="stylesheet"/>

</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row">
        <!--            Sidebar-->
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <div th:replace="/include/sidebar :: sidebar_learn_course_single"></div>
        </div>
        <!--            Sidebar-->

        <!--                Content-->

        <div class="col py-3">
            <form class="login-form"
                  th:action="@{/learn/course/{courseId}/comments/add(courseId=${course.courseId})}"
                  th:object="${comment}" th:method="post">
                <div class="col-md-10">
                    <div class="panel">
                        <div class="panel-body">
                            <span th:text="${textError}"></span>
                            <textarea type="text" class="form-control" rows="2" th:field="*{text}"
                                      placeholder="Добавьте Ваш комментарий"
                                      th:classappend="${textError} ? is-invalid : ''"></textarea>

                            <div class="mar-top clearfix">
                                <button class="btn btn-sm btn-primary pull-right" type="submit"><i
                                        class="fa fa-pencil fa-fw"></i> Добавить
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <!-- Содержание Новостей -->
                            <!--===================================================-->
                            <div class="media-block" th:each="comment: ${comments}">
                                <a th:if="${comment.author.filename==null}" class="media-left"
                                   th:href="@{/user/info(userId=${comment.author.userId})}"><img
                                        class="img-circle img-sm"
                                        alt="Профиль пользователя"
                                        src="https://bootstraptema.ru/snippets/icons/2016/mia/1.png"></a>

                                <a th:if="${comment.author.getFilename()!=null}"
                                   class="d-block link-dark text-decoration-none dropdown-toggle"
                                   th:href="@{/user/info(userId=${comment.author.userId})}" id="dropdownUser"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="rounded-circle" width="40px"
                                         th:src="${'/img/'+comment.author.filename}"
                                         th:alt="${comment.author.filename}">
                                </a>

                                <div class="media-body">
                                    <div class="mar-btm">
                                        <a th:href="@{/user/info(userId=${comment.author.userId})}"
                                           class="btn-link text-semibold media-heading box-inline"
                                           th:text="${comment.author.firstname}"></a>
                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i><span
                                                th:text="${{' - '+(comment.dateCreating.toLocalDate())}}"></span>
                                        </p>
                                    </div>
                                    <p th:text="${comment.text}"></p>
                                    <hr>

                                    <!--===================================================-->
                                    <!-- Конец Содержания Новостей -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>