<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Описание курса</title>
    <link href="/static/css/sidebars.css" th:href="@{/css/sidebars.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row">
        <!--            Sidebar-->
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <div th:replace="/include/sidebar :: sidebar_learn_course_single"></div>
        </div>
        <!--            Sidebar-->

        <!--                Content-->
        <div class="col py-3">
            <div class="row">
                <div class="col-md-12 align-items-md-stretch">
                    <div class="h-100 p-3">
                        <h4>Описание</h4>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-8 align-items-md-stretch">
                    <div class="h-100 p-3 bg-light border rounded-3">
                        <h4>Описание курса</h4>
                        <p th:if="${course.description!=null}" th:utext="${course.description}"></p>
                    </div>
                </div>
                <div class="col-sm-4 align-items-md-stretch">
                    <div class="row">
                        <div class=" align-items-md-stretch">
                            <div class="p-3 bg-light border rounded-3">
                                <h6>Коротко о курсе - </h6>
                                <p th:if="${course.shortDescription!=null}"
                                   th:utext="${#strings.abbreviate(course.shortDescription,600)}"></p>
                                <hr>
                                <h6>Язык - </h6>
                                <p th:if="${course.language!=null}" th:text="${course.language.translation}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 align-items-md-stretch mt-3">
                    <div class="p-3 bg-light border rounded-3">
                        <h6>Преподаватель </h6>
                        <a th:if="${teacher.lastname==null}" th:href="@{/user/profile(userId=${teacher.userId})}"><p th:text="${teacher.firstname}"></p></a>
                        <a th:unless="${teacher.lastname==null}" th:href="@{/user/profile(userId=${teacher.userId})}"><p th:text="${teacher.firstname}+' '+${teacher.lastname}"></p></a>
                    </div>
                </div>
            </div>
        </div>
        <!--                Content-->
    </div>
</div>
</div>
</div>
</div>
</body>
</html>