<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Описание курса</title>
    <link href="/static/css/sidebars.css" th:href="@{/css/sidebars.css}" rel="stylesheet"/>
    <link href="/static/css/comments.css" th:href="@{/css/comments.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row">

        <!--            Sidebar-->
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <div th:replace="/include/sidebar :: sidebar_teach_course"></div>
        </div>
        <!--            Sidebar-->

        <div class="col py-3">
            <div class="col py-3">
                <div class="col-md-10">
                    <div class="panel">
                        <div class="panel-body">
                            <!-- Содержание Новостей -->
                            <!--===================================================-->
                            <div class="media-block" th:each="comment: ${comments}">
                                <a th:if="${comment.author.filename==null}" class="media-left"
                                   th:href="@{/user/info(userId=${comment.author.userId})}"><img
                                        class="img-circle img-sm"
                                        alt="Профиль пользователя"
                                        src="https://bootstraptema.ru/snippets/icons/2016/mia/1.png"></a>

                                <a th:if="${comment.author.getFilename()!=null}"
                                   class="d-block link-dark text-decoration-none dropdown-toggle"
                                   th:href="@{/user/info(userId=${comment.author.userId})}" id="dropdownUser"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="rounded-circle" width="40px"
                                         th:src="${'/img/'+comment.author.filename}"
                                         th:alt="${comment.author.filename}">
                                </a>

                                <div class="media-body">
                                    <div class="mar-btm">
                                        <a th:href="@{/user/info(userId=${comment.author.userId})}"
                                           class="btn-link text-semibold media-heading box-inline"
                                           th:text="${comment.author.firstname}"></a>
                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i><span
                                                th:text="${{' - '+(comment.dateCreating)}}"></span>
                                        </p>
                                    </div>
                                    <p th:text="${comment.text}"></p>
                                    <hr>

                                    <!--===================================================-->
                                    <!-- Конец Содержания Новостей -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/include/_footer :: footer"></div>
</body>
</html>