<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование курса</title>
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row">
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
            <a href="/teach/courses/new"
               class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <button type="button" class="btn btn-outline-secondary"><span>+ Новый курс</span></button>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <a href="/teach/courses">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#home-collapse" aria-expanded="true">
                            Курсы
                        </button>
                    </a>
                    <div class="collapse show" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Уроки</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#dashboard-collapse" aria-expanded="false">
                        Классы
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Мои классы</a></li>
                            <li><a href="#" class="link-dark rounded">Мои учащиеся</a></li>
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#orders-collapse" aria-expanded="false">
                        Профиль
                    </button>
                    <div class="collapse" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">New</a></li>
                            <li><a href="#" class="link-dark rounded">Processed</a></li>
                            <li><a href="#" class="link-dark rounded">Shipped</a></li>
                            <li><a href="#" class="link-dark rounded">Returned</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!--        Новый модуль-->
        <div class="col-sm-9 p-3">
            <div class="card text-center">
                <div class="card-header">
                    Описание
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${course.get().nameCourse}"></h5>
                    <p class="card-text">В курсе пока нет ни одного урока.
                        Создайте первый модуль, чтобы добавить уроки</p>
                    <a th:href="@{/teach/courses/{id}/edit(id=${course.get().id},module='add')}"
                       class="btn btn-primary">+ Новый модуль</a>
                </div>
            </div>
        </div>
        <!--        Новый модуль-->
    </div>
</div>
</body>
</html>