<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Курсы - преподавание</title>
    <link href="../static/css/sidebars.css" th:href="@{/css/sidebars.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row">
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
            <a href="/teach/courses/new"
               class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <button type="button" class="btn btn-outline-secondary"><span>+ Новый курс</span></button>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <a href="/teach/courses">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#home-collapse" aria-expanded="true">
                            Курсы
                        </button></a>
                    <div class="collapse show" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Уроки</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#dashboard-collapse" aria-expanded="false">
                        Классы
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Мои классы</a></li>
                            <li><a href="#" class="link-dark rounded">Мои учащиеся</a></li>
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#orders-collapse" aria-expanded="false">
                        Профиль
                    </button>
                    <div class="collapse" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">New</a></li>
                            <li><a href="#" class="link-dark rounded">Processed</a></li>
                            <li><a href="#" class="link-dark rounded">Shipped</a></li>
                            <li><a href="#" class="link-dark rounded">Returned</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 p-3">

            <blockquote class="blockquote">
                <p>Курсы</p>
            </blockquote>
            <div class="row p-2">
                <form class="row text-center" th:action="@{/teach/courses/filter}" th:method="get">
                    <div class="col-auto">
                        <select th:name="status" class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option th:name="status" value="ALL">Все курсы</option>
                            <option value="DRAFT">Черновик</option>
                            <option value="PRIVATE">Приватный</option>
                            <option value="INACTIVE">Неактивный</option>
                            <option value="OPEN">Открытый</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary btn-sm mb-3">Применить</button>
                    </div>
                </form>
            </div>

            <!--                Список курсов-->
            <div class="row p-2" th:if="${coursesList!=null}">
                <div class="row g-3" th:each="course:${coursesList}">
                    <div class="card">
                        <div class="card-header" th:text="${course.dateCreating}"></div>
                        <div class="card-body">
                            <a th:href="@{/teach/courses/{id}/syllabus(id=${course.id})}"><h5 class="card-title" th:text="${course.nameCourse}"></h5></a>
                            <p class="card-text" th:text="${course.description}"></p>
                            <a href="#" class="card-link">Описание</a>
                            <a href="#" class="card-link">Содержание</a>
                        </div>
                        <span class="card-footer text-muted"
                              th:text="${course.dateCreating}">
                        </span>
                    </div>
                </div>
            </div>
            <!--                Список курсов-->
        </div>
    </div>
</div>
</div>
</body>
</html>