<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/sidebars.css" th:href="@{/css/sidebars.css}" rel="stylesheet"/>
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row">
        <!--        Sidebar-->
        <div class="container-fluid">
            <div class="row flex-nowrap">

                <!--            Sidebar-->
                <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
                    <a th:href="@{/teach/courses/{courseId}/info(courseId=${course.courseId})}"
                       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                        <svg class="bi me-2" width="40" height="32">
                        </svg>
                        <span class="fs-4" th:text="${course.nameCourse}"></span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#home-collapse"
                               aria-expanded="true" aria-current="page">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                                     class="bi bi-book" viewBox="0 0 24 16">
                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                </svg>
                                Курс
                            </a>
                            <div class="collapse show" id="home-collapse">
                                <ul class="btn-toggle-nav small">
                                    <li><a th:href="@{/teach/courses/{courseId}/info(courseId=${course.courseId})}"
                                           class="link-dark rounded">Описание</a></li>
                                    <li><a th:href="@{/teach/courses/{courseId}/syllabus(courseId=${course.courseId})}"
                                           class="link-dark rounded">Содержание</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#user-collapse"
                               aria-expanded="true" aria-current="page">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                                     class="bi bi-chat-right" viewBox="0 0 24 16">
                                    <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                                </svg>
                                Общение с учащимися
                            </a>
                            <div class="collapse" id="user-collapse">
                                <ul class="btn-toggle-nav small">
                                    <li><a href="#" class="link-dark rounded">Новости</a></li>
                                    <li><a href="#" class="link-dark rounded">Комментарии</a></li>
                                    <li><a href="#" class="link-dark rounded">Отзывы</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#setting-collapse"
                               aria-expanded="true" aria-current="page">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor"
                                     class="bi bi-sliders2" viewBox="0 0 24 16">
                                    <path fill-rule="evenodd"
                                          d="M10.5 1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4H1.5a.5.5 0 0 1 0-1H10V1.5a.5.5 0 0 1 .5-.5ZM12 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm-6.5 2A.5.5 0 0 1 6 6v1.5h8.5a.5.5 0 0 1 0 1H6V10a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5ZM1 8a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 1 8Zm9.5 2a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V13H1.5a.5.5 0 0 1 0-1H10v-1.5a.5.5 0 0 1 .5-.5Zm1.5 2.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z"/>
                                </svg>
                                Настройки
                            </a>
                            <div class="collapse" id="setting-collapse">
                                <ul class="btn-toggle-nav small">
                                    <li><a href="#" class="link-dark rounded">Публикация</a></li>
                                </ul>
                            </div>
                        </li>
                        <hr>
                        <div class="dropdown">
                            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                               id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="rounded-circle me-2 bi bi-person"></i>
                                <th:block th:if="${teacher.firstname!=null}">
                                    <strong th:text="${teacher.firstname+' '}"></strong></th:block>
                            </a>
                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                                <li><a class="dropdown-item" href="#">Настройки</a></li>
                                <li><a class="dropdown-item" href="/user/profile">Профиль</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/user/logout">Выйти</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
                <!--            Sidebar-->
                <div class="col py-3">
                    <div class="row">
                        <div class="col-md-12 align-items-md-stretch">
                            <div class="h-100 p-3">
                                <h4>Описание</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 align-items-md-stretch">
                            <div class="row">
                                <div class="col-sm-8 d-flex justify-content-start">
                                    <p>У этого курса есть промо-страница, которую гости сайта видят до того, как на него
                                        поступить
                                    </p>
                                </div>
                                <div class="col-sm-4 d-flex align-content-center flex-wrap justify-content-center">
                                    <a th:href="@{/teach/courses/{courseId}/promo(courseId=${course.courseId})}">
                                        <button class="btn btn-outline-secondary" type="button">Посмотреть</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="h-100 d-flex align-content-center flex-wrap justify-content-center">
                                <button class="btn btn-outline-secondary" type="button">Редактировать информацию
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-8 align-items-md-stretch">
                            <div class="h-100 p-3 bg-light border rounded-3">
                                <h4>Описание курса</h4>
                                <p th:if="${course.description.isEmpty()}">Поле не заполнено. Пожалуйста, заполните его
                                    в редакторе курса.</p>
                                <p th:unless="${course.description.isEmpty()}"
                                   th:text="${#strings.abbreviate(course.description,1024)}"></p>
                            </div>
                        </div>
                        <div class="col-sm-4 align-items-md-stretch">
                            <div class="row">
                                <div class=" align-items-md-stretch">
                                    <div class="p-3 bg-light border rounded-3">
                                        <h6>Коротко о курсе - </h6>
                                        <p th:if="${course.shortDescription.isEmpty()}">Поле не заполнено. Пожалуйста,
                                            заполните его
                                            в редакторе курса.</p>
                                        <p th:unless="${course.shortDescription.isEmpty()}"
                                           th:text="${course.shortDescription}"></p>
                                        <hr>
                                        <h6>Язык - </h6>
                                        <p text-muted th:if="${course.language==null}">Поле не заполнено. Пожалуйста,
                                            заполните его
                                            в редакторе курса.</p>
                                        <p th:unless="${course.language==null}"
                                           th:text="${course.language.translation}"></p>
                                    </div>
                                    <form class="login-form"
                                          th:action="@{/teach/courses/{courseId}/update(courseId=${course.courseId})}"
                                          th:object="${course}" th:method="post">
                                        <div class="mb-3">
                                            <label for="summernote" class="form-label">Название курса</label>
                                            <span th:text="${nameCourseError}"></span>
                                            <textarea type="text" class="form-control" th:field="${course.nameCourse}"
                                                   id="summernote"
                                                   aria-describedby="emailHelp1"
                                                      th:classappend="${nameCourseError} ? is-invalid : ''"></textarea>
                                            <div id="emailHelp1" class="form-text">Минимум 3 символа</div>
                                        </div>
                                        <button>Сохранить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 align-items-md-stretch mt-3">
                            <div class="p-3 bg-light border rounded-3">
                                <h6>Преподаватель </h6>
                                <a href="/user/profile"><p th:text="${teacher.firstname}">
                                    <!--                                    <p th:if="${teacher.lastname!=null}" th:text="${teacher.lastname}"></p>-->
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>
</div>
</div>

<script>
    // $(document).ready(function() {
    //     $('#summernote').summernote();
    // });
</script>
</body>
</html>