<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Описание курса</title>
    <link href="/static/css/sidebars.css" th:href="@{/css/sidebars.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row">
        <!--            Sidebar-->
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <div th:replace="/include/sidebar :: sidebar_teach_course"></div>
        </div>
        <!--            Sidebar-->

        <div class="col py-3">
            <div class="row">
                <div class="col-md-12 align-items-md-stretch">
                    <div class="h-100 p-3">
                        <h4>Описание</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 align-items-md-stretch">
                    <div class="row">
                        <div class="col-sm-8 d-flex justify-content-start">
                            <p>У этого курса есть промо-страница, которую гости сайта видят до того, как на него
                                поступить
                            </p>
                        </div>
                        <div class="col-sm-4 d-flex align-content-center flex-wrap justify-content-center">
                            <a th:href="@{/teach/courses/{courseId}/promo(courseId=${course.courseId})}">

                                <button class="btn btn-outline-secondary" type="button">Посмотреть</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="h-100 d-flex align-content-center flex-wrap justify-content-center">
                        <a th:href="@{/teach/courses/{courseId}/update(courseId=${course.courseId})}">
                            <button class="btn btn-outline-secondary" type="button">Редактировать информацию
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-8 align-items-md-stretch">
                    <div class="h-100 p-3 bg-light border rounded-3">
                        <h4>Описание курса</h4>
                        <p th:if="${course.description.isEmpty()}">Поле не заполнено. Пожалуйста, заполните его
                            в редакторе курса.</p>
                        <p th:unless="${course.description.isEmpty()}"
                           th:utext="${#strings.abbreviate(course.description,1024)}"></p>
                    </div>
                </div>
                <div class="col-sm-4 align-items-md-stretch">
                    <div class="row">
                        <div class=" align-items-md-stretch">
                            <div class="p-3 bg-light border rounded-3">
                                <h6>Коротко о курсе - </h6>
                                <p th:if="${course.shortDescription.isEmpty()}">Поле не заполнено. Пожалуйста,
                                    заполните его
                                    в редакторе курса.</p>
                                <p th:unless="${course.shortDescription.isEmpty()}"
                                   th:utext="${#strings.abbreviate(course.shortDescription,600)}"></p>
                                <hr>
                                <h6>Язык - </h6>
                                <p text-muted th:if="${course.language==null}">Поле не заполнено. Пожалуйста,
                                    заполните его
                                    в редакторе курса.</p>
                                <p th:unless="${course.language==null}"
                                   th:text="${course.language.translation}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 align-items-md-stretch mt-3">
                    <div class="p-3 bg-light border rounded-3">
                        <h6>Преподаватель </h6>

                        <th:block th:if="${session.user.userId==teacher.userId}">
                            <a th:if="${teacher.lastname==null}" href="/user/profile"><p
                                    th:text="${teacher.firstname}"></p></a>
                            <a th:unless="${teacher.lastname==null}" href="/user/profile"><p
                                    th:text="${teacher.firstname}+' '+${teacher.lastname}"></p></a>
                        </th:block>
                        <th:block th:if="${session.user.userId!=teacher.userId}">
                            <a th:if="${teacher.lastname==null}" th:href="@{/user/info(userId=${teacher.userId})}"><p
                                    th:text="${teacher.firstname}"></p></a>
                            <a th:unless="${teacher.lastname==null}" th:href="@{/user/info(userId=${teacher.userId})}"><p
                                    th:text="${teacher.firstname}+' '+${teacher.lastname}"></p></a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/include/_footer :: footer"></div>
</body>
</html>