<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${course.nameCourse}+' - Описание'"></title>
    <link href="../static/css/promo.css" th:href="@{/css/promo.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="_header :: content"></div>

<div class="container">
    <div class="row">
        <main class="container">
            <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 fst-italic" th:text="${course.nameCourse}"></h1>
                    <p class="lead my-3" th:utext="${#strings.abbreviate(course.shortDescription,1024)}"></p>
                    <p class="lead mb-0"><a href="#description" class="text-white fw-bold">Подробнее...</a></p>
                </div>
            </div>

            <!--            Карточки-->
            <!--            <div class="row mb-2">-->
            <!--                <div class="col-md-6">-->
            <!--                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
            <!--                        <div class="col p-4 d-flex flex-column position-static">-->
            <!--                            <strong class="d-inline-block mb-2 text-primary">World</strong>-->
            <!--                            <h3 class="mb-0">Featured post</h3>-->
            <!--                            <div class="mb-1 text-muted">Nov 12</div>-->
            <!--                            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>-->
            <!--                            <a href="#" class="stretched-link">Continue reading</a>-->
            <!--                        </div>-->
            <!--                        <div class="col-auto d-none d-lg-block">-->
            <!--                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="col-md-6">-->
            <!--                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
            <!--                        <div class="col p-4 d-flex flex-column position-static">-->
            <!--                            <strong class="d-inline-block mb-2 text-success">Design</strong>-->
            <!--                            <h3 class="mb-0">Post title</h3>-->
            <!--                            <div class="mb-1 text-muted">Nov 11</div>-->
            <!--                            <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>-->
            <!--                            <a href="#" class="stretched-link">Continue reading</a>-->
            <!--                        </div>-->
            <!--                        <div class="col-auto d-none d-lg-block">-->
            <!--                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            Карточки-->

            <div class="row g-5">
                <div class="col-md-8">
                    <h3 class="pb-4 mb-4 fst-italic border-bottom">
                        О курсе
                    </h3>

                    <article class="blog-post">
                        <h2 class="blog-post-title" id="description">Описание</h2>
                        <p class="blog-post-meta" th:text="*{{'дата создания курса - '+course.dateCreating.toLocalDate()}}">
                        </p>

                        <p th:utext="${course.description}"></p>
                        <hr>
                        <p></p>

                        <h2>Для кого этот курс</h2>
                        <p th:utext="${course.theTargetAudience}"></p>
                        <!--                        <blockquote class="blockquote">-->
                        <!--                            <p>Quoted text goes here.</p>-->
                        <!--                        </blockquote>-->
                        <p></p>
                        <h3>Наши преподаватели</h3>
                        <p>Кто ведет курс:</p>
                        <ul>
                            <li>
                                <a th:if="${teacher.lastname==null}" href="/user/profile"><p
                                        th:text="${teacher.firstname}"></p></a>
                                <a th:unless="${teacher.lastname==null}" href="/user/profile"><p
                                        th:text="${teacher.firstname}+' '+${teacher.lastname}"></p></a>
                            </li>
                        </ul>
                        <hr>

                        <h3 id="menu">Программа курса:</h3>
                        <!--                        Модули-->
                        <div class="accordion" th:each="modules,counts1:${course.modules}">
                            <div class="accordion-item mt-1">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" th:data-bs-toggle="collapse"
                                            th:data-bs-target="${'#item-'+modules.moduleId}" data-bs-parent="#menu"
                                            th:text="${counts1.count}+${'. '+modules.name}">
                                    </button>
                                </h2>
                                <div th:id="${'item-'+modules.moduleId}" class="accordion-collapse collapse"
                                     data-bs-parent="#menu">
                                    <span class="list-group list-group-numbered"
                                          th:each="lessons,counts2:${modules.lessons}">
                                        <span class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold"
                                                     th:text="${counts2.count}+${'. '+lessons.name}"></div>
                                                <i class="mb-1" th:text="${lessons.description}"></i>
                                            </div>
                                            <!--                                            <i class="badge bg-primary rounded-pill">14</i>-->
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!--                        Модули-->
                        <hr>


                        <p>And this is a definition list:</p>
                        <dl>
                            <dt>HyperText Markup Language (HTML)</dt>
                            <dd>The language used to describe and define the content of a Web page</dd>
                            <dt>Cascading Style Sheets (CSS)</dt>
                            <dd>Used to describe the appearance of Web content</dd>
                            <dt>JavaScript (JS)</dt>
                            <dd>The programming language used to build advanced Web sites and applications</dd>
                        </dl>
                        <h2>Inline HTML elements</h2>
                        <p>HTML defines a long list of available inline tags, a complete list of which can be found on
                            the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">Mozilla Developer
                                Network</a>.</p>
                        <ul>
                            <li><strong>To bold text</strong>, use <code class="language-plaintext highlighter-rouge">&lt;strong&gt;</code>.
                            </li>
                            <li><em>To italicize text</em>, use <code class="language-plaintext highlighter-rouge">&lt;em&gt;</code>.
                            </li>
                            <li>Abbreviations, like <abbr title="HyperText Markup Langage">HTML</abbr> should use <code
                                    class="language-plaintext highlighter-rouge">&lt;abbr&gt;</code>, with an optional
                                <code class="language-plaintext highlighter-rouge">title</code> attribute for the full
                                phrase.
                            </li>
                            <li>Citations, like <cite>— Mark Otto</cite>, should use <code
                                    class="language-plaintext highlighter-rouge">&lt;cite&gt;</code>.
                            </li>
                            <li>
                                <del>Deleted</del>
                                text should use <code class="language-plaintext highlighter-rouge">&lt;del&gt;</code>
                                and
                                <ins>inserted</ins>
                                text should use <code class="language-plaintext highlighter-rouge">&lt;ins&gt;</code>.
                            </li>
                            <li>Superscript <sup>text</sup> uses <code class="language-plaintext highlighter-rouge">&lt;sup&gt;</code>
                                and subscript <sub>text</sub> uses <code class="language-plaintext highlighter-rouge">&lt;sub&gt;</code>.
                            </li>
                        </ul>
                        <p>Most of these elements are styled by browsers with few modifications on our part.</p>
                        <h2>Heading</h2>
                        <p>This is some additional paragraph placeholder content. It has been written to fill the
                            available space and show how a longer snippet of text affects the surrounding content. We'll
                            repeat it often to keep the demonstration flowing, so be on the lookout for this exact same
                            string of text.</p>
                        <h3>Sub-heading</h3>
                        <p>This is some additional paragraph placeholder content. It has been written to fill the
                            available space and show how a longer snippet of text affects the surrounding content. We'll
                            repeat it often to keep the demonstration flowing, so be on the lookout for this exact same
                            string of text.</p>
                        <pre><code>Example code block</code></pre>
                        <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the
                            other highly repetitive body text used throughout.</p>
                    </article>

                    <article class="blog-post">
                        <h2 class="blog-post-title">Another blog post</h2>
                        <p class="blog-post-meta">December 23, 2020 by <a href="#">Jacob</a></p>

                        <p>This is some additional paragraph placeholder content. It has been written to fill the
                            available space and show how a longer snippet of text affects the surrounding content. We'll
                            repeat it often to keep the demonstration flowing, so be on the lookout for this exact same
                            string of text.</p>
                        <blockquote>
                            <p>Longer quote goes here, maybe with some <strong>emphasized text</strong> in the middle of
                                it.</p>
                        </blockquote>
                        <p>This is some additional paragraph placeholder content. It has been written to fill the
                            available space and show how a longer snippet of text affects the surrounding content. We'll
                            repeat it often to keep the demonstration flowing, so be on the lookout for this exact same
                            string of text.</p>
                        <h3>Example table</h3>
                        <p>And don't forget about tables in these posts:</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Upvotes</th>
                                <th>Downvotes</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Alice</td>
                                <td>10</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>Bob</td>
                                <td>4</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Charlie</td>
                                <td>7</td>
                                <td>9</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td>Totals</td>
                                <td>21</td>
                                <td>23</td>
                            </tr>
                            </tfoot>
                        </table>

                        <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the
                            other highly repetitive body text used throughout.</p>
                    </article>

                    <article class="blog-post">
                        <h2 class="blog-post-title">New feature</h2>
                        <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>

                        <p>This is some additional paragraph placeholder content. It has been written to fill the
                            available space and show how a longer snippet of text affects the surrounding content. We'll
                            repeat it often to keep the demonstration flowing, so be on the lookout for this exact same
                            string of text.</p>
                        <ul>
                            <li>First list item</li>
                            <li>Second list item with a longer description</li>
                            <li>Third list item to close it out</li>
                        </ul>
                        <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the
                            other highly repetitive body text used throughout.</p>
                    </article>

                    <nav class="blog-pagination" aria-label="Pagination">
                        <a class="btn btn-outline-primary" href="#">Older</a>
                        <a class="btn btn-outline-secondary disabled">Newer</a>
                    </nav>
                </div>

                <div class="col-md-4">
                    <div class="position-sticky" style="top: 2rem;">
                        <div class="p-4 mb-3 rounded">
                            <th:block th:if="${course.level!=null}">
                                <h4 class="fst-italic" th:text="${course.level.translation}+' - уровень'"></h4>
                            </th:block>
                            <p class="mb-0">
                            <div class="col-sm-12 d-flex align-content-center flex-wrap justify-content-center" >
                                <a href="/user/choose-your-language" th:if="${session.user==null}">
                                    <button class="btn btn-outline-secondary" type="button">Поступить на курс</button>
                                </a>
                            <a th:href="@{/learn/course/{courseId}/enroll(courseId=${course.courseId})}" th:unless="${session.user==null}">
                                <button class="btn btn-outline-secondary" type="button">Поступить на курс</button>
                            </a>
                            </div>
                            </p>
                        </div>

                        <div class="p-4 bg-light">
                            <h4 class="fst-italic">В курс входят</h4>
                            <span class="list-unstyled mb-0">
                                <p th:text="${course.modules.size()+' Модулей'}"></p>

                                <!--                                <p th:text="${course.getModules()}"><a id="lesson" th:text="' Уроков'"></a></p>-->

                            </span>
                            <hr>
                            <a href="#menu">
                                <h6 class="fst-italic">Программа курса</h6></a>
                        </div>

                    </div>
                </div>
            </div>
        </main>

    </div>
</div>
<footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.
    </p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
</body>
</html>