<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${course.nameCourse}+' - Описание'"></title>
    <link href="/static/css/promo.css" th:href="@{/css/promo.css}" rel="stylesheet"/>
    <link href="/static/css/comments.css" th:href="@{/css/comments.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="_header :: content"></div>

<div class="container">
    <div class="row">
        <main class="container">
            <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 fst-italic" th:text="${course.nameCourse}"></h1>
                    <p class="lead my-3" th:utext="${#strings.abbreviate(course.shortDescription,1024)}"></p>
                    <p class="lead mb-0"><a href="#description" class="text-white fw-bold">Подробнее...</a></p>
                </div>
            </div>

            <!--            Карточки-->
            <!--            <div class="row mb-2">-->
            <!--                <div class="col-md-6">-->
            <!--                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
            <!--                        <div class="col p-4 d-flex flex-column position-static">-->
            <!--                            <strong class="d-inline-block mb-2 text-primary">World</strong>-->
            <!--                            <h3 class="mb-0">Featured post</h3>-->
            <!--                            <div class="mb-1 text-muted">Nov 12</div>-->
            <!--                            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>-->
            <!--                            <a href="#" class="stretched-link">Continue reading</a>-->
            <!--                        </div>-->
            <!--                        <div class="col-auto d-none d-lg-block">-->
            <!--                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="col-md-6">-->
            <!--                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
            <!--                        <div class="col p-4 d-flex flex-column position-static">-->
            <!--                            <strong class="d-inline-block mb-2 text-success">Design</strong>-->
            <!--                            <h3 class="mb-0">Post title</h3>-->
            <!--                            <div class="mb-1 text-muted">Nov 11</div>-->
            <!--                            <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>-->
            <!--                            <a href="#" class="stretched-link">Continue reading</a>-->
            <!--                        </div>-->
            <!--                        <div class="col-auto d-none d-lg-block">-->
            <!--                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            Карточки-->

            <div class="row g-5">
                <div class="col-md-8">
                    <h3 class="pb-4 mb-4 fst-italic border-bottom">
                        О курсе
                    </h3>

                    <article class="blog-post">
                        <h2 class="blog-post-title" id="description">Описание</h2>
                        <p class="blog-post-meta"
                           th:text="*{{'дата создания курса - '+course.dateCreating.toLocalDate()}}">
                        </p>

                        <p th:utext="${course.description}"></p>
                        <hr>
                        <p></p>

                        <h2>Для кого этот курс</h2>
                        <p th:utext="${course.theTargetAudience}"></p>
                        <!--                        <blockquote class="blockquote">-->
                        <!--                            <p>Quoted text goes here.</p>-->
                        <!--                        </blockquote>-->
                        <p></p>
                        <h3>Наши преподаватели</h3>
                        <p>Кто ведет курс:</p>
                        <ul>
                            <li>
                                <a th:if="${teacher.lastname==null}" th:href="@{/user/profile(userId=${teacher.userId})}"><p th:text="${teacher.firstname}"></p></a>
                                <a th:unless="${teacher.lastname==null}" th:href="@{/user/profile(userId=${teacher.userId})}"><p th:text="${teacher.firstname}+' '+${teacher.lastname}"></p></a>
                            </li>
                        </ul>
                        <hr>

                        <h3 id="menu">Программа курса:</h3>
                        <!--                        Модули-->
                        <div class="accordion" th:each="modules,counts1:${course.modules}">
                            <div class="accordion-item mt-1">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" th:data-bs-toggle="collapse"
                                            th:data-bs-target="${'#item-'+modules.moduleId}" data-bs-parent="#menu"
                                            th:text="${counts1.count}+${'. '+modules.name}">
                                    </button>
                                </h2>
                                <div th:id="${'item-'+modules.moduleId}" class="accordion-collapse collapse"
                                     data-bs-parent="#menu">
                                    <span class="list-group list-group-numbered"
                                          th:each="lessons,counts2:${modules.lessons}">
                                        <span class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold"
                                                     th:text="${counts2.count}+${'. '+lessons.name}"></div>
                                                <i class="mb-1" th:text="${lessons.description}"></i>
                                            </div>
                                            <!--                                            <i class="badge bg-primary rounded-pill">14</i>-->
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!--                        Модули-->
                        <hr>

                    </article>

                    <!--  Отзывы-->
                    <article class="blog-post">
                        <h2 class="blog-post-title">Отзывы о курсе</h2>

                        <div class="panel">
                            <div class="panel-body">
                                <!-- Содержание Новостей -->
                                <!--===================================================-->
                                <div class="media-block" th:each="comment: ${comments}">
                                    <a th:if="${comment.author.filename==null}" class="media-left"
                                       th:href="@{/user/info(userId=${comment.author.userId})}"><img
                                            class="img-circle img-sm"
                                            alt="Профиль пользователя"
                                            src="https://bootstraptema.ru/snippets/icons/2016/mia/1.png"></a>

                                    <a th:if="${comment.author.getFilename()!=null}"
                                       class="d-block link-dark text-decoration-none dropdown-toggle"
                                       th:href="@{/user/info(userId=${comment.author.userId})}" id="dropdownUser"
                                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img class="rounded-circle" width="40px"
                                             th:src="${'/img/'+comment.author.filename}"
                                             th:alt="${comment.author.filename}">
                                    </a>

                                    <div class="media-body">
                                        <div class="mar-btm">
                                            <a th:href="@{/user/info(userId=${comment.author.userId})}"
                                               class="btn-link text-semibold media-heading box-inline"
                                               th:text="${comment.author.firstname}"></a>
                                            <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i><span
                                                    th:text="${{' - '+(comment.dateCreating.toLocalDate())}}"></span>
                                            </p>
                                        </div>
                                        <p th:text="${comment.text}"></p>
                                        <hr>
                                        <!--===================================================-->
                                        <!-- Конец Содержания Новостей -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--  Конец отзывов-->

                    </article>

                    <nav class="blog-pagination" aria-label="Pagination">
                        <a class="btn btn-outline-primary" href="#">Older</a>
                        <a class="btn btn-outline-secondary disabled">Newer</a>
                    </nav>
                </div>

                <div class="col-md-4">
                    <div class="position-sticky" style="top: 2rem;">
                        <div class="p-4 mb-3 rounded">
                            <th:block th:if="${course.level!=null}">
                                <h4 class="fst-italic" th:text="${course.level.translation}+' - уровень'"></h4>
                            </th:block>
                            <p class="mb-0">
                            <div class="col-sm-12 d-flex align-content-center flex-wrap justify-content-center">
                                <a href="/user/choose-your-language" th:if="${session.user==null}">
                                    <button class="btn btn-outline-secondary" type="button">Поступить на курс</button>
                                </a>
                                <a th:href="@{/learn/course/{courseId}/enroll(courseId=${course.courseId})}"
                                   th:unless="${session.user==null}">
                                    <button class="btn btn-outline-secondary" type="button">Поступить на курс</button>
                                </a>
                            </div>
                            </p>
                        </div>

                        <div class="p-4 bg-light">
                            <h4 class="fst-italic">В курс входят</h4>
                            <span class="list-unstyled mb-0">
                                <p th:text="${course.modules.size()+' Модулей'}"></p>

                                <!--                                <p th:text="${course.getModules()}"><a id="lesson" th:text="' Уроков'"></a></p>-->

                            </span>
                            <hr>
                            <a href="#menu">
                                <h6 class="fst-italic">Программа курса</h6></a>
                        </div>

                    </div>
                </div>
            </div>
        </main>

    </div>
</div>
<footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.
    </p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
</body>
</html>