<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Программа курса</title>
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row">
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <a href="/teach/courses">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#home-collapse" aria-expanded="true">
                            Курсы
                        </button>
                    </a>
                    <div class="collapse show" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Уроки</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#dashboard-collapse" aria-expanded="false">
                        Классы
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Мои классы</a></li>
                            <li><a href="#" class="link-dark rounded">Мои учащиеся</a></li>
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#orders-collapse" aria-expanded="false">
                        Профиль
                    </button>
                    <div class="collapse" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">New</a></li>
                            <li><a href="#" class="link-dark rounded">Processed</a></li>
                            <li><a href="#" class="link-dark rounded">Shipped</a></li>
                            <li><a href="#" class="link-dark rounded">Returned</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-sm-9">
            <!--                Описание курса если пусто-->
            <div class="row p-2">
                <div class="card" th:if="${course.modules.isEmpty()}">
                    <div class="card-header">Описание</div>
                    <div class="card-body">
                        <h5 class="card-title">Программа курса</h5>
                        <p class="card-text">В курсе пока что нет ни одного урока.
                            Добавьте свой первый урок в редакторе содержания курса.</p>
                        <a th:href="@{/teach/courses/{id}/edit(id=${course.id})}" class="btn btn-primary">Редактировать
                            содержание</a>
                    </div>
                </div>
                <!--                Описание курса если пусто-->


                <div class="row g-3" th:if="${!course.modules.isEmpty()}">
                    <h5 class="text-center" th:text="${'Программа курса - '+course.nameCourse}"></h5>
                    <div class="text-center">
                        <a th:href="@{/teach/courses/{id}/edit(id=${course.id},module='edit')}">
                            <button class="btn btn-outline-secondary">Редактировать содержание</button>
                        </a>
                    </div>
                    <div class="card">
                        <!--                        Модули-->
                        <!-- Bootstrap 5 -->
                        <div class="accordion" id="menu" th:each="modules,counts1:${course.modules}">
                            <!-- item-# -->
                            <div class="accordion-item mt-1">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" th:data-bs-toggle="collapse"
                                            th:data-bs-target="${'#item-'+modules.id}" data-bs-parent="#menu"
                                            th:text="${counts1.count}+${'. '+modules.name}">
                                    </button>
                                </h2>
                                <div th:id="${'item-'+modules.id}" class="accordion-collapse collapse"
                                     data-bs-parent="#menu">
                                    <th:block th:each="lessons,counts2:${modules.lessons}">
                                        <div class="accordion-body"
                                             th:text="${counts2.count}+${'. '+lessons.name}"></div>
                                    </th:block>

                                    <a th:href="@{/teach/courses/{courseid}/modules/{moduleid}/lessons/add(moduleid=${modules.id},courseid=${course.id})}"
                                       class="btn btn-outline-secondary m-2">Добавить уроки</a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!--                        Модули-->

                    </div>
                </div>
                <!--                Описание курса-->
            </div>
        </div>

    </div>
</div>
</body>
</html>