<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Программа курса</title>
    <link href="/static/css/sidebars.css" th:href="@{/css/sidebars.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="_header :: content"></div>
<div class="container">
    <div class="row">
        <!--            Sidebar-->
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <div th:replace="/include/sidebar :: sidebar_teach_course"></div>
        </div>
        <!--            Sidebar-->


        <div class="col-sm-9">
            <!--                Описание курса если пусто-->
            <div class="row p-2">
                <div class="card" th:if="${course.modules.isEmpty()}">
                    <div class="card-header">Описание</div>
                    <div class="card-body">
                        <h5 class="card-title">Программа курса</h5>
                        <p class="card-text">В курсе пока что нет ни одного урока.
                            Добавьте свой первый урок в редакторе содержания курса.</p>
                        <a th:href="@{/teach/courses/{courseId}/edit(courseId=${course.courseId})}"
                           class="btn btn-primary">Редактировать
                            содержание</a>
                    </div>
                </div>
                <!--                Описание курса если пусто-->


                <div class="row g-3" th:if="${!course.modules.isEmpty()}">
                    <h5 class="text-center" th:text="${'Программа курса - '+course.nameCourse}"></h5>
                    <div class="text-center">
                        <a th:href="@{/teach/courses/{courseId}/edit(courseId=${course.courseId},module='edit')}">
                            <button class="btn btn-outline-secondary">Редактировать содержание</button>
                        </a>
                    </div>
                    <div>

                        <!--                        Модули-->
                        <div class="accordion" id="menu" th:each="modules,counts1:${course.modules}">
                            <div class="accordion-item mt-1">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" th:data-bs-toggle="collapse"
                                            th:data-bs-target="${'#item-'+modules.moduleId}" data-bs-parent="#menu"
                                            th:text="${counts1.count}+${'. '+modules.name}">
                                    </button>
                                </h2>
                                <div th:id="${'item-'+modules.moduleId}" class="accordion-collapse collapse show"
                                     data-bs-parent="#menu">
                                    <span class="list-group list-group-numbered"
                                          th:each="lessons,counts2:${modules.lessons}">
                                        <span class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold" th:text="${counts2.count}+${'. '+lessons.name}"></div>
                                                <i class="mb-1" th:text="${lessons.description}"></i>
                                            </div>
                                            <!--                                            <i class="badge bg-primary rounded-pill">14</i>-->
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--                        Модули-->

                    </div>
                </div>
                <!--                Описание курса-->
            </div>
        </div>

    </div>
</div>
<div th:replace="/include/_footer :: footer"></div>
</body>
</html>